@charset "UTF-8";


/* CSS Document */

body {
	margin: 10px;
	text-align:center;
}
#main {
	width: 100%;
	height: 100%;
}
.font_color{
    color: rgb(235,98,27);
    font-weight: lighter;
}
#container{
    width:1500px;
    height:auto;
    margin:auto;
}

/* CSS Document */