@charset "UTF-8";


/* CSS Document */

h1{
    color:orange;
    float:left;
    font-size:24px;
    font-weight:lighter;
}

h2{
    color:orange;
    float:left;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight:lighter;
}

/*.button{
 background: rgb(52,210,172); display: inline-block; padding: 5px 10px 6px; color: white; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; left:20%;cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;
 }
 
 .button:hover{
 background-color: #FFA500;
 }
 */
.button{
    border-radius:5px;
    border:none;
    background-color:#E7E7E7;
    position: relative;
	border:1px #c4c4c4 solid;
	position:relative;
}
.button:hover {
    opacity: 1;
}
.button:active{
    opacity: 1;
    border: 0px;
    padding: 0px;
}

#setbutton{
    float:right;
    position:relative;
    top: 5px;
}

.content{
    padding-right:200px;
    border: 1px solid #c4c4c4;
    height: 300px;
    width: 400px;
    font-size: 13px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.content:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.textbox {
    border: 1px solid #c4c4c4;
    height: 25px;
    width: 275px;
    font-size: 13px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.textbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
#PeopleSearchLeftBar{
    width:20%;
    clear:left;
    float:left;
}

#signup{
    float:left;
    text-align:middle;
    padding-left:400px;
    font-family:furtura;
    font-size:24px;
    color:#F88017;
}
#signup2 {
    float: right;
    width: 45%;
}

#signin{
    border-right:1px black dotted;
    float: left;
    padding-left:10%;
    width: 40%;
}

#wrapper{
    width:1500px;
}
label {
    float:left;
    font-weight:lighter;
}

l1{ 
	float:left;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:lighter;
}

l2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF8000;
	padding-top:0;
}

l3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF8000;
}

l4{
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        float:left;
        font-weight:higher;
}
.select0{
	width:100px;
	height:25px;
	font-size:15px;
	border-radius:5px;
	border:1px #c4c4c4 solid;
	position:relative;
	background:url('images/down.png') no-repeat;
}
.select1{
	width:275px;
	height:25px;
	font-size:15px;
	border-radius:5px;
	border:1px #c4c4c4 solid;
	position:relative;
	right:250px;
	background:url('images/down.png') no-repeat;
}
.select2{
	width:100px;
	height:25px;
	font-size:15px;
	border-radius:5px;
	border:1px #c4c4c4 solid;
	position:relative;
	right:290px;
	background:url('images/down.png') no-repeat;
}
.select{
    height:25px;
	font-size:15px;
	border-radius:5px;
	border:1px #c4c4c4 solid;
	background:url('images/down.png') no-repeat;
	position:relative;
}

#blank{
    border:3px red dotted;
    float:left;
    width:100%;
}

hr{
	border-top:1px dashed #999; 
	height:1px;
}
/* CSS Document */