body {
	margin: 0px;
}
#main {
	width: 100%;
	height: 100%;
}
/***header***/
#header {
	width: 1349px;
	height: 70px;
	background-color: #505050;
	position: fixed;
	z-index: 99;
}
#topmenu {
	margin-left: 10px;
	height: 70px;
	width: 800px;
	float: left;
}
#topmenu ul {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100%;
	list-style: none;
}
#topmenu li {
	padding-top: 10px;
	float: left;
	display:block; 
	text-align: center;
	width: 20%;
	height: 70px;
	border-radius: 10px 10px;
}
#topmenu a {
	text-decoration: none;
	color:  #FFFFFF;
	font-size: 30px;
	display: block;
	padding-top:10px;
}
#headericon {
	height: 100%;
	float: right;
	display: none;
}
#alarm {
	height: 30px;
	width: 60px;
	float: left;
	display: block;
	padding-top: 20px;
	padding-left: 70px;
}
#alarmimg {
	height: 30px;
	width: 30px;
	float: left;
	display: block;
}
#alarmnum {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	display: block;
	margin: 0;
	padding-top: 7px;
	padding-left: 12px;
}
#letter {
	height: 30px;
	width: 60px;
	float: left;
	display: block;
	padding-top: 20px;
	padding-left: 70px;
}
#letterimg {
	height: auto;
	width: 30px;
	float: left;
	display: block;
	padding-top: 10px;
}
#letternum {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	display: block;
	margin: 0;
	padding-top: 7px;
	padding-left: 12px;
}
#user {
	height: 30px;
	width: 80px;
	float: left;
	display: block;
	padding-top: 20px;
	padding-left: 70px;
}
#userimg {
	height: auto;
	width: 30px;
	float: left;
	display: block;
}
#usericon {
	float: left;
	width: 20px;
	height: 10px;
	display: block;
	margin: 0;
	padding-top: 10px;
	padding-left: 12px;
}
/***headerhide***/
#headerhide {
	padding-top:70px;
	width: 1349px;
	height: 120px;
	background-color: rgb(52,210,172);
}
#headericonhide {
	padding-top: 40px;
	height: 50px;
	float: right;
}
#logoimg {
	padding-left: 40px;
	height: 120px;
	width: auto;
	float: left;
}
#searchbar {
	padding-top: 40px;
	padding-left: 100px;
	color: #333;
	margin: 0px;
	float: left;
	height: 35px;
	width: 360px;
}
#searchicon {
	background: #FFFFFF url(Images/icon.png) no-repeat 8px 8px;
	float: left;
	width: 22px;
	height: 35px;
}
#searchword {
	float: left;
	background: #FFFFFF;
	height: 35px;
	width: 285px;
	padding-left: 10px;
	border: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#searchgo {
	float: left;
	height: 35px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: #FF6633;
	color: #FFFFFF;
	display: block;
}
/***mid***/
#mid {
	padding-top: 20px;
	width: 1041px;
	padding-left: 180px;
	padding-right: 180px;
	display: block;
	overflow: hidden;
}
#left {
	width: 300px;
	float: left;
	height: 20px;
}
#right {
	width: 741px;
	float: left;
	overflow: hidden;
}
#dateprofile {
	font-size: 50px;
	color: #FF6633;
}
.h {
	color: #FF6633;
	margin: 0px;
	padding-top: 21px;
	padding-bottom: 21px;
	border-bottom: 1px dashed #989898;
}
.h img {
	width: 40px;
	height: 20px;
	opacity: 0.8;
}
.h img:hover {
	opacity: 1;
}
/***footer***/
#footer {
	width: 1349px;
	height: 100px;
	background-color: rgb(52,210,172);
}
#footer ul{
	width: 1050px;
	padding-left: 150px;
	height: 50px;
	list-style: none;
}
#footer li {
	float: left;
	display:block; 
	width: 150px;
	height: 30px;
	color: #FFFFFF;
	display: block;
	text-align: center;
}
#footer a {
	padding-top:10px;
	text-decoration: none;
	color:  #FFFFFF;
	display: block;
}
#footerwords {
	text-align: center;
	color:  #FFFFFF;
}

/***people***/
#peocontainer {
	overflow: hidden; 
}
.prec {
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	height: 200px;
	width: 200px;
	border: 1px solid #989898;
}
/***basic***/
#bascontainer {
	overflow: hidden; 
}
#bleft {
	width: 370px;
	float: left;
}
#bright {
	width: 370px;
	float: left;
}
/***story***/
.spart {
	float: left;
	width: 330px;
	padding-left: 30px;
}
/***perfectwork***/
.ppart {
	float: left;
	width: 330px;
	padding-left: 30px;
}
/***likeplace***/
.lppart {
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	height: 220px;
	width: 220px;
}
.lprec {
	float: left;
	height: 200px;
	width: 200px;
	border: 1px solid #989898;
}
.lpname {
	text-align: center;
	color: #FF6633;
}
/***likemovie***/
.lmpart {
	margin-left: 20px;
	float: left;
	margin-top: 20px;
	height: 130px;
	width: 130px;
}
.lmrec {
	margin-left: 15px;
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid #989898;
}
.lmname {
	text-align: center;
	color: #FF6633;
}