#place_img{
	width:25%;
	color:rgb(235, 98, 27);
	border:solid;
	height:15em;
}

.place_info{
	width:73%;
	float:right;
	
}

#place_name{
	font-size:3em;
	width:40%;
	margin-top:0.2em;
	
	
	
	color:gray;
}

#place_review{
	width:40%;
	color:gray;
	margin-right:2em;
	
}

#place_review .place_review_star{
	width:1em;
}

.place_info table{
	font-size:0.7em;
}
