html *{
	font-family:Helvetica, sans-serif;
	font-weight:200;
}

html p{
	
	font-size:0.8em;
}

body {
	background:#edeff0;
}
#main {
    padding:20px 0 !important;
    margin-left: 10%;
    margin-right: 10%;
}
.left{
	float: left;
 	position: relative;
 	width: 20%;
}

.top{
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  margin-bottom:1em;
  
}



.detail_sidebar {
  	width: 100%;
  	background-color: #fff;
  	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  	overflow:hidden;
  	padding-bottom:0.8em;
}

#communication
{
	padding-top:0.5em;
}

#communication .tab{
	color:gray;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:25%;
	background: url(images/temp.png) no-repeat 0.6em center;
	font-size:1em;
	background-size: 1.6em;
}


#communication .tab:hover{
	border-left:2px solid;
	color:rgb(235, 98, 27);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
#communication .tab:hover h3{
	color:rgb(235, 98, 27);
	font-weight:400;
}

 
 .detail_content{
 	display:block;
 	padding: 0;
 }
 
 .detail{
  float: right;
  width: 70%;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  display:block;
  padding-left:3%;
  padding-right:3%;
  margin-bottom:1em;
 }
 .detail h2{
 	color:rgb(235, 98, 27);
 	font-size: 1.8em;
	font-weight: normal;
	background: url(images/arrow2.png) no-repeat left center;
	background-size: 28px 20px;
	border-bottom: 1px dotted #999;
	padding-left: 30px;
	cursor: pointer;
	font-family:Helvetica, sans-serif;
	font-weight:200;
	margin-bottom:0;
 }

 
 
 
 
 #review .inner_content{
	margin-left: 2%;
}
#review .review_item{
	margin-top: 0.5em;
	border-bottom: 1px dotted #999;
	margin-bottom:0.5em;
	
	min-height:9em;
	
}
#review .review_item .review_item_user{
	width: 10%;
	height:9em;
	display:block;
	float:left;
	
	
}


/* Reviews section in scene_detail and activity_detail*/
#review .review_item .review_user_pic{
width: 100%;
margin-bottom:-3em;
}
#review .review_item .review_item_user h3{
	color:rgb(235, 98, 27);
	text-align:center;
}

#review .review_item .review_rating_detail{
	width:85%;
	padding-left:2%;
	overflow:scroll;
	
}


.rating {
          overflow: hidden;
          display: inline-block;
      }
 .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
          display:none; 
          
      }
.rating-star {        
          display: block;
          float: right;        
          width: 0.9em;
          height: 0.9em;
          background: url(images/empty_star.png) no-repeat left center;
          background-size:0.9em;
      }

.rating-star:hover, .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
       background: url(images/full_star.png);
       background-size:0.9em;
  }
  
.rating_fixed {        
          background-image: url(images/full_star.png),
           					url(images/full_star.png), 
           					url(images/full_star.png),
           					url(images/empty_star.png),
          					url(images/empty_star.png);
          background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
          background-position:3.1em center,4.3em center,5.5em  center,6.7em center,7.9em center;
          background-size:1.2em;
      }

/* Reviews section*/
 
 
 
 
 
