
/***EadateHomeMainContent***/
#MainContent {
	width: 1041px;
	padding-left: 154px;
	padding-right: 154px;
	display: block;
	overflow: hidden;
}
}
#EadateHomeLeftBar{
	width: 200px;
    padding-left: 20px;
    float: left;
	font-family: Futura,Helvetica ;
	
}
#EadateHomeRightContent{
	width:800px;
	padding-left: 250px;
	

}

#YouMayLike{
	width: 800px;
	height: 230px;
	font-family: Futura,Helvetica ;
	text-align:left;	
    overflow:hidden;   
        }
#YouMayLike ul li{
    float:left;
    list-style:none;
   
     }
.YouMayLikeUser {
      height:160px;
      width:160px
      margin-top: -50px;
      margin-bottom:-50px;
      overflow:hidden;
      float:left;
      }
#ImageDiv{
      position:relative;
      width:172px;
      height:120px;
      margin-left:-20px;
      }
.ImageMessage{
      position:absolute;
      left:0;
      top:0;
      width:40px;
      height:40px;
      }
.ImageLike{
      position:absolute;
      right:50px;
      top:0;
      width:40px;
      height:40px;
      }   
#RightLeft{
      width:800px;
      height:20px;
      }
#NewPlacesForYou{
	width: 800px;
	height: 500px;
	font-family:Futura,Helvetica ;
	text-align:left;
}
#Activities{
	width: 800px;
	height:520px;
	font-family:Futura,Helvetica ;
	text-align:left;
	color:rgb(235,98,27);
}

.font_color{
	color: rgb(235,98,27);
	font-weight: lighter;
	}
.leftbutton {
	border: 0px;
	width: 180px;
	height: 30px;
	text-align: center;
	padding: 0px;
	margin-bottom: 10px;
	font-size: 15px;
	background-color:#E7E7E7;
	border-radius:  10px 10px 10px 10px;
	opacity: 0.8;
	font-family:furtura;
	float:left;
}
.leftbutton:hover {
	opacity: 1;
}
.leftbutton:active{
	opacity: 1;
	border: 0px;
	padding: 0px;
}
#dottedLine{
    border-bottom:dotted;
    border-width:1px;
    border-color:#000;
    }
.datingProfile {
    width: 180px;
    height:130px
    float: left;
	font-family: furtura; 
	font-color:#000000;	
}
.datingProfileImage {
    width:75px;
    height:80px;
    float:left;
    }
 .datingProfileWords {
    width:105px;
    height:80px;
    align:right;
    float:right;
    }
 .Favourities {
   width:180px;
   height:120px;
   border-top:dotted;
   border-width:1px;
   allign:center;
   }
  #RightWord{
   float:right;
   text-decoration: none;
   color:#000;
   }
   #Restaurent1{
   width:180px;
   height:180px;
   border:1px #000 solid;
   
   }
   #Restaurent2{
   width:98px;
   height:98px;
   border:1px #000 solid;
   }