@charset "utf-8";
/* CSS Document */
.profile-time select{
	width:205px;
}
.rlf-tip-like{
	font-size:12px;
	height:30px;
}
.text-input{
	padding:7px 7px 7px 7px !important;
	width:395px !important;
}
.rlf-tip-text{
	font-size:12px;
	height:40px;
}
